(
    tasks: [
        (
            id: "cam",
            type: "copper::tasks::webcam::Webcam",
        ),
        (
            id: "rerun",
            type: "copper::tasks::rerun_viz::RerunViz",
        ),
     ],
    cnx: [
        (src: "cam",  dst: "rerun",   msg: "copper::tasks::ImageRGBU8Msg"),
    ],
)
